.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-container-1 {
  display: flex;
  flex-wrap: nowrap;
  text-align: start;
  align-items: start;
  justify-content: center;
  margin: auto;
  padding: 0 5px;
  margin-top: 50px;
  margin-left: 200px;
  width: 65%;
  gap: 16px;
}

.product-container-2 {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: start;
  justify-content: center;
  padding: 0 5px;
  margin-top: 50px;
  max-width: 100%;
  gap: 16px;
}

.product-item {
  margin: auto;
  overflow: hidden;
}

.img img {
  width: 141px;
  height: 103px;
  margin-top: 75px;
}

.img-name {
  text-align: center;
}

.number {
  border-radius: 5vw;
  width: 2vw;
  height: 2vw;
  text-align: center;
  background-color: #cabebe;
  color: #ffffff;
}

.discription-heading {
  font-size: 16px;
  font-weight: 700;
}

.discription {
  width: 30vw;
}

.main {
  margin-left: 20px;
  width: 30vw;
}

.btn-2 {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
  color: #1b88f4;
}
.btn-2 a {
  text-decoration: none;
  color: #1b88f4;
}

.reating {
  width: 50px;
  height: 40px;
  font-size: 2.5rem;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 135px;
  height: 118px;
  border-radius: 0px 0px 12px 12px;
  background-color: #f3f9ff;
}

.reating-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  margin-top: 10px;
}

li .star {
  color: #ffb80f;
  display: inline;
}

.btn-3 {
  width: 150px;
  border-radius: 12px;
  border: none;
  background: #1b88f4;
  color: whitesmoke;
  margin: auto;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 400;
}

.btn-4 {
  width: 125px;
  height: 34px;
  margin-top: 20px;
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: #ff7724;
  cursor: pointer;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 200px;
}

.btn-3:hover {
  background: #1b88f4;
  opacity: 60%;
}

.main-4 {
  margin-left: 20px;
  width: 30vw;
  background: #fff4ed;
  border-radius: 12px;
}

.offer {
  width: 53px;
  height: 20px;
  font-size: 13px;
  color: #074786;
}

.main-div-4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  margin-left: 30px;
  font-size: 1.5rem;
  gap: 20px;
}
.main-div-4 .main-4-btn {
  width: 32px;
  height: 32px;
  color: #1b88f4;
}

.related-deals {
  margin-left: 200px;
  margin-top: 20px;
}
.related-deals h3 {
  font-size: 2rem;
}

.deals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.card-info {
  margin-left: 25px;
}

.deals-card {
  width: 333px;
  border-radius: 12px;
  border: 1px solid salmon;
}
.deals-card h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 50px;
}
.deals-card .card-name {
  font-size: 1.4rem;
  font-weight: 400;
}

.card-offer {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  width: 15vw;
  align-items: center;
  justify-content: start;
}
.card-offer .offer-time-1 {
  display: inline;
  width: 65px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  background: #f2f4f7;
  color: #074786;
}
.card-offer .offer-time-2 {
  display: inline;
  width: 110px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  background: #f2f4f7;
  color: #074786;
}

.card-price {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  font-weight: 400;
}
.card-price .card-off {
  margin-top: 10px;
  font-size: 14px;
  color: #9fa9b3;
}
.card-price .card-off span {
  color: red;
}

.card-btn {
  width: 292px;
  height: 48px;
  margin-top: 10px;
  border-radius: 12px;
  background: #1b88f4;
  color: wheat;
}

.card-btn:hover {
  background: #1b88f4;
  opacity: 50%;
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
  .product-item {
    overflow: hidden;
  }
  .product-container-1 {
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
  }
  .discription-heading {
    font-size: 14px;
    font-weight: 700;
  }
  .discription {
    width: 100vw;
    height: 110px;
  }
  .main {
    margin-left: 20px;
    width: 90vw;
  }
  .review {
    margin: auto;
    margin-top: 50px;
  }
  .btn-3 {
    margin: auto;
    margin-top: 50px;
  }
  .btn-4 {
    margin: auto;
    margin-top: 50px;
  }
  .main-div-4 {
    flex-wrap: nowrap;
    font-size: 1rem;
  }
  .main-4 {
    width: 90%;
  }
  .related-deals {
    margin: auto;
  }
  .related-deals h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  .card-offer {
    width: 50vw;
    margin-top: 10px;
  }
}/*# sourceMappingURL=product.css.map */